Repository azin-cn/itravel-web: changes, and which Jenkins stages are due for each by the changed paths.
All: Build_All_Package, Build_Web_Package, Build_Admin_Package, Build_Mobile_Package

Build_All_Package:
              steps {
                  buildPackage(env.PACKAGE_DIR_WEB, env.SERVER_PATH_WEB, env.DOCKER_NAME_WEB, params)
                  buildPackage(env.PACKAGE_DIR_ADMIN, env.SERVER_PATH_ADMIN, env.DOCKER_NAME_ADMIN, params)
  ...

Build_Web_Package:
              steps {
                  buildPackage(env.PACKAGE_DIR_WEB, env.SERVER_PATH_WEB, env.DOCKER_NAME_WEB, params)
              }
          

Build_Admin_Package:
              steps {
                  buildPackage(env.PACKAGE_DIR_ADMIN, env.SERVER_PATH_ADMIN, env.DOCKER_NAME_ADMIN, params)
              }
          

Build_Mobile_Package:
              steps {
                  buildPackage(env.PACKAGE_DIR_MOBILE, env.SERVER_PATH_MOBILE, env.DOCKER_NAME_MOBILE, params)
              }
          

feat: add router utils
  packages/mobile/src/router/utils.ts
Due: Build_Mobile_Package

feat: add article page template
  packages/mobile/src/views/article/index.vue
Due: Build_Mobile_Package

feat: add redirect method
  packages/mobile/src/views/home/note/index.vue
Due: Build_Mobile_Package

refactor: reset login form
  packages/mobile/src/views/login/components/login-form.vue
Due: Build_Mobile_Package

feat: add spot api
  packages/mobile/src/api/spot.ts
Due: Build_Mobile_Package

feat: add 3d route
  packages/mobile/src/router/routes/modules/3d.ts
Due: Build_Mobile_Package

feat: add use three hook
  packages/mobile/src/views/3d/use-three.ts
Due: Build_Mobile_Package

feat: add 3d page
  packages/mobile/src/views/3d/index.vue
Due: Build_Mobile_Package

fix: add event stop propagation
  packages/mobile/src/views/components/article-card/index.vue
Due: Build_Mobile_Package

feat: use redirect 3d page
  packages/mobile/src/views/home/note/index.vue
Due: Build_Mobile_Package

feat: add three js
  packages/mobile/package.json
Due: Build_Mobile_Package

feat: add vant package output
  packages/mobile/config/vite.config.prod.ts
Due: Build_Mobile_Package

feat: add import vant component
  packages/mobile/src/libs/vant.ts
Due: Build_Mobile_Package

feat: use vant global
  packages/mobile/src/main.ts
Due: Build_Mobile_Package

feat: update components
  packages/mobile/components.d.ts
Due: Build_Mobile_Package

docs: add redirect record doc
  README.md
Due: Build_All_Package

feat: update user fields
  packages/admin/src/store/modules/user/types.ts
Due: Build_Admin_Package

refactor: update nav bar component
  packages/admin/src/components/navbar/index.vue
Due: Build_Admin_Package

refactor: update dashboard workspace
  packages/admin/src/views/dashboard/workplace/index.vue
Due: Build_Admin_Package

feat: add format utils
  packages/admin/src/utils/format.ts
Due: Build_Admin_Package

feat: update banner component
  packages/admin/src/views/dashboard/workplace/components/banner.vue
Due: Build_Admin_Package

feat: add data panel type
  packages/admin/src/api/dashboard.ts
Due: Build_Admin_Package

feat: update HttpResponse type
  packages/admin/src/api/interceptor.ts
Due: Build_Admin_Package

feat: update mock response type
  packages/admin/src/utils/setup-mock.ts
Due: Build_Admin_Package

style: change order for template and script
  packages/admin/src/views/dashboard/workplace/components/content-chart.vue
Due: Build_Admin_Package

style: change order script and template
  packages/admin/src/components/navbar/index.vue
Due: Build_Admin_Package

refactor: reset router module
  packages/admin/src/router/routes/externalModules/arco.ts
  packages/admin/src/router/routes/modules/dashboard.ts
  packages/admin/src/router/routes/modules/form.ts
  packages/admin/src/router/routes/modules/list.ts
  packages/admin/src/router/routes/modules/profile.ts
  packages/admin/src/router/routes/modules/result.ts
Due: Build_Admin_Package

feat: udpate dashboard api
  packages/admin/src/api/dashboard.ts
Due: Build_Admin_Package

feat: use settings json
  packages/admin/src/components/footer/index.vue
  packages/admin/src/components/navbar/index.vue
Due: Build_Admin_Package

feat: update settings json
  packages/admin/src/config/settings.json
Due: Build_Admin_Package

feat: add static resources
  packages/admin/src/assets/images/A.jpg
  packages/admin/src/assets/images/B.jpg
  packages/admin/src/assets/images/C.jpg
  packages/admin/src/assets/images/D.jpg
  packages/admin/src/assets/images/avatar-no-login.png
  packages/admin/src/assets/images/avatar-no-login2.png
  packages/admin/src/assets/images/avatar-no-login3.png
  packages/admin/src/assets/images/avatar.jpg
  packages/admin/src/assets/images/bg1.jpg
  packages/admin/src/assets/images/bg2.jpg
  packages/admin/src/assets/images/bg3.jpg
  packages/admin/src/assets/images/bg4.jpg
  packages/admin/src/assets/images/bg5.jpg
  packages/admin/src/assets/images/bg6.jpg
  packages/admin/src/assets/images/bg7.jpg
  packages/admin/src/assets/images/bg8.jpg
  packages/admin/src/assets/images/icon/1.ico
  packages/admin/src/assets/images/icon/1.png
  packages/admin/src/assets/images/icon/128.ico
  packages/admin/src/assets/images/icon/16.ico
  packages/admin/src/assets/images/icon/32.ico
  packages/admin/src/assets/images/icon/48.ico
  packages/admin/src/assets/images/icon/64.ico
Due: Build_Admin_Package

feat: add map resources
  packages/admin/src/assets/map/ac.webp
  packages/admin/src/assets/map/china_full.json
  packages/admin/src/assets/map/china_without_south_sea.json
  packages/admin/src/assets/map/china_without_south_sea_other.json
  packages/admin/src/assets/map/gd_full.json
  packages/admin/src/assets/map/mz_full.json
  packages/admin/src/assets/map/wh.json
Due: Build_Admin_Package

feat: add css style
  packages/admin/src/assets/style/global.less
  packages/admin/src/assets/style/tailwind.css
Due: Build_Admin_Package

feat: update workspace page
  packages/admin/src/views/dashboard/workplace/components/content-chart.vue
  packages/admin/src/views/dashboard/workplace/index.vue
Due: Build_Admin_Package

feat: add search svg
  packages/admin/src/assets/svg/search-circle.svg
Due: Build_Admin_Package

feat: update locale
  packages/admin/src/locale/zh-CN.ts
  packages/admin/src/views/list/search-table/locale/zh-CN.ts
Due: Build_Admin_Package

feat: add search article page
  packages/admin/src/views/list/search-article/index.vue
  packages/admin/src/views/list/search-article/locale/en-US.ts
  packages/admin/src/views/list/search-article/locale/zh-CN.ts
  packages/admin/src/views/list/search-article/mock.ts
Due: Build_Admin_Package

feat: add search spot page
  packages/admin/src/views/list/search-spot/index.vue
  packages/admin/src/views/list/search-spot/locale/en-US.ts
  packages/admin/src/views/list/search-spot/locale/zh-CN.ts
  packages/admin/src/views/list/search-spot/mock.ts
Due: Build_Admin_Package

feat: add search user page
  packages/admin/src/views/list/search-user/index.vue
  packages/admin/src/views/list/search-user/locale/en-US.ts
  packages/admin/src/views/list/search-user/locale/zh-CN.ts
  packages/admin/src/views/list/search-user/mock.ts
Due: Build_Admin_Package

Path conditions:
  Build_All_Package: (any of: **/*) and (not (any of: packages/**))
  Build_Web_Package: any of: packages/web/**
  Build_Admin_Package: any of: packages/admin/**
  Build_Mobile_Package: any of: packages/mobile/**
