Repository azin-cn/itravel-web: changes, and which Jenkins stages are due for each by the changed paths.
All: Build_All_Package, Build_Web_Package, Build_Admin_Package, Build_Mobile_Package

Path conditions:
  Build_All_Package: (any of: **/*) and (not (any of: packages/**))
  Build_Web_Package: any of: packages/web/**
  Build_Admin_Package: any of: packages/admin/**
  Build_Mobile_Package: any of: packages/mobile/**

fix: use any type
  packages/admin/src/components/list/index.vue
  packages/admin/src/components/list/list-filter.vue
Due: Build_Admin_Package

feat: add permissions field
  packages/admin/src/store/modules/user/index.ts
  packages/admin/src/store/modules/user/types.ts
Due: Build_Admin_Package

feat: use hash history
  packages/admin/src/router/index.ts
Due: Build_Admin_Package

feat: add upload api
  packages/admin/src/api/upload.ts
Due: Build_Admin_Package

feat: update list api
  packages/admin/src/api/list.ts
Due: Build_Admin_Package

feat: add page field
  packages/admin/src/components/list/index.vue
Due: Build_Admin_Package

feat: update list component
  packages/admin/src/views/list/search-spot/components/spot-update/index.vue
Due: Build_Admin_Package

feat: use spot update form
  packages/admin/src/views/list/search-spot/index.vue
Due: Build_Admin_Package

feat: add get spot fm method
  packages/admin/src/api/list.ts
Due: Build_Admin_Package

feat: update patch spot api params
  packages/admin/src/api/list.ts
Due: Build_Admin_Package

feat: update patch spot api
  packages/admin/src/api/list.ts
Due: Build_Admin_Package

feat: update patch form process
  packages/admin/src/views/list/search-spot/components/spot-update/index.vue
Due: Build_Admin_Package

feat: add padding bottom
  packages/mobile/src/views/home/note/index.vue
Due: Build_Mobile_Package

feat: add column fields
  packages/admin/src/views/list/search-spot/index.vue
Due: Build_Admin_Package

fix: add thumb url
  packages/web/src/views/editor/component/modal-form.vue
Due: Build_Web_Package

feat: update message timing
  packages/web/src/views/editor/component/modal-form.vue
Due: Build_Web_Package

feat: update logo
  packages/admin/src/components/navbar/index.vue
Due: Build_Admin_Package

feat: update icon
  packages/admin/index.html
Due: Build_Admin_Package

feat: update login page and component
  packages/admin/src/views/login/components/login-form.vue
  packages/admin/src/views/login/index.vue
Due: Build_Admin_Package

feat: add get article by conditions
  packages/admin/src/api/list.ts
Due: Build_Admin_Package

feat: udpate params name
  packages/admin/src/views/list/search-spot/index.vue
Due: Build_Admin_Package

refactor: add search article page
  packages/admin/src/views/list/search-article/index.vue
Due: Build_Admin_Package

feat: add article status
  packages/admin/src/api/list.ts
Due: Build_Admin_Package

feat: update locale
  packages/admin/src/views/list/search-article/locale/zh-CN.ts
Due: Build_Admin_Package

feat: update article page
  packages/admin/src/views/list/search-article/index.vue
Due: Build_Admin_Package

feat: update hash tag
  packages/admin/src/views/list/search-article/index.vue
Due: Build_Admin_Package

feat: update document title
  packages/admin/index.html
Due: Build_Admin_Package

fix: set web hash mode
  packages/admin/src/views/list/search-spot/index.vue
Due: Build_Admin_Package

feat: update text
  packages/admin/src/views/list/search-article/locale/zh-CN.ts
Due: Build_Admin_Package

feat: add online and offline
  packages/admin/src/views/list/search-article/index.vue
Due: Build_Admin_Package

feat: add update article status
  packages/admin/src/views/list/search-article/index.vue
Due: Build_Admin_Package

feat: add patch article status
  packages/admin/src/api/list.ts
Due: Build_Admin_Package

feat: add static resources
  packages/web/src/assets/images/w39.jpg
Due: Build_Web_Package

feat: update prefix api
  packages/admin/src/api/base.ts
Due: Build_Admin_Package

chore: remove lint staged
  .husky/pre-commit
Due: Build_All_Package

chore: remove uno config
  packages/mobile/uno.config.ts
Due: Build_Mobile_Package

docs: update readme record
  README.md
Due: Build_All_Package

feat: remove uno config
  packages/mobile/config/vite.config.base.ts
Due: Build_Mobile_Package

fix: remove char
  packages/mobile/config/vite.config.base.ts
Due: Build_Mobile_Package

chore: reset api prefix
  packages/admin/src/api/base.ts
Due: Build_Admin_Package
